@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/form-field/mdc-form-field";
@import "@material/list/mdc-list";
@import "@material/textfield/mdc-text-field";
@import "@material/typography/mdc-typography";

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype")
}

$mdc-typography-font-family: "Open Sans";

$mdc-typography-styles-headline4: (
  font-weight: 200
);

body {
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
  
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  
    color: #fff;
    font-family: "Open Sans";
    text-shadow: 0px 0px 10px #000;
}

div#logo {
    background-image: url('../img/login-logo.svg');
    width: 265px;
    height: 78px;
    background-size: contain;
    margin-bottom: 50px;
  }
  
  div#title {
    font-style: normal;
    font-size: 30px;
    font-weight: 400;
    font-family: "Open Sans";
    margin-bottom: 60px;
  }
  
  div#kc-content {
    width: 90vw;
    align-items: center;
    margin: auto;
  }
  div#kc-content-wrapper {
    align-items: center;
    margin: auto;
  }
  
  div#row {
    display: flex;
  }
  
  div#column {
    flex: 50%;
    align-content: center;
  }

  div#kc-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }
  
  div#kc-form-wrapper {
    margin-left: auto;
    margin-right: auto;
  }

  div.mdc-text-field {
    width: 300px;
  }

// ----------------------



// ----------------------



  div#kc-form-options div {
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
  }
  
  div#kc-form-options div label {
    font-size: 12px;
  }
  
  div#kc-feedback {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    /* width: 100%; */
    text-align: center;
  }
  
  div#kc-feedback-wrapper {
    padding: 1em;
  }
  
  div.feedback-success {
    background-color: rgba(155, 155, 255, 0.1);
  }
  
  div.feedback-warning {
    background-color: rgba(255, 175, 0, 0.1);
  }
  
  div.feedback-error {
    background-color: rgba(255, 0, 0, 0.1);
  }
  
  div#kc-header {
    display: none;
  }
  
  div#kc-registration {
    margin-bottom: 20px;
  }
  
  div#social-login {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    float: right;
    width: 150px;
    padding: 20px 0 200px 40px;
  }
  
  div.social-login span {
    display: none;
  }
  
  div#kc-social-providers ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  div#kc-social-providers ul li {
    margin-bottom: 20px;
  }
  
  div#kc-social-providers ul li span {
    display: inline;
    width: 100px;
  }